body{
    
    background-color: rgb(155, 223, 237);
    
    }
    
    
    h1{
        color:rgb(243, 39, 63);
        font-family: gothic;
        text-align: center
    }
    
    p{
        font-family: gothic;
        color:rgb(65, 36, 70);
    }
    
    
    
    